@media screen and (max-width: 840px){
.header-container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	a {
		margin-right: -3.5%;
	}
}
.main_menu{
	display: none;
	position: relative;
	top: 1%;
	right: 7%;
			li{
				width: 100%;
				display: block;
				font-size: 12px;	
		}
			a{
				display: block;
				padding: 8px;
			}
}
	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		cursor: #000;
		font-size: 24px;
		margin-top: 20px;
	}
	.toggle-button:after {
		content: attr(data-open);
		display: block;
	}
	#menu_checkbox:checked + nav[role="navigation"] .main_menu{
		display: block;
	}

	#menu_checkbox:checked + nav[role="navigation"] .toggle-button:after{
	content: attr(data-close);
}
}